<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>selfLv6Msg0</string>
	<string>selfLv6Msg1</string>
	<string>selfLv6Msg2</string>
	<string>selfLv6Msg3</string>
	<string>selfLv6Msg4</string>
</array>
</plist>
