<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s1</key>
	<dict>
		<key>s1t0</key>
		<integer>1</integer>
		<key>s1t1</key>
		<integer>11</integer>
		<key>s1t2</key>
		<integer>21</integer>
		<key>s1t3</key>
		<integer>31</integer>
		<key>s1t4</key>
		<integer>41</integer>
		<key>s1t5</key>
		<integer>51</integer>
		<key>s1t6</key>
		<integer>71</integer>
		<key>s1t7</key>
		<integer>101</integer>
		<key>s1t8</key>
		<integer>111</integer>
		<key>s1t9</key>
		<integer>112</integer>
		<key>s1t10</key>
		<integer>113</integer>
		<key>s1t11</key>
		<integer>161</integer>
		<key>s1t12</key>
		<integer>171</integer>
	</dict>
	<key>s2</key>
	<dict>
		<key>s2t0</key>
		<integer>1</integer>
		<key>s2t1</key>
		<integer>11</integer>
		<key>s2t2</key>
		<integer>31</integer>
		<key>s2t3</key>
		<integer>41</integer>
		<key>s2t4</key>
		<integer>51</integer>
		<key>s2t5</key>
		<integer>81</integer>
		<key>s2t6</key>
		<integer>91</integer>
		<key>s2t7</key>
		<integer>91</integer>
		<key>s2t8</key>
		<integer>91</integer>
		<key>s2t9</key>
		<integer>91</integer>
		<key>s2t10</key>
		<integer>91</integer>
		<key>s2t11</key>
		<integer>91</integer>
		<key>s2t12</key>
		<integer>91</integer>
		<key>s2t13</key>
		<integer>91</integer>
		<key>s2t14</key>
		<integer>91</integer>
		<key>s2t15</key>
		<integer>41</integer>
		<key>s2t16</key>
		<integer>211</integer>
		<key>s2t17</key>
		<integer>81</integer>
		<key>s2t18</key>
		<integer>231</integer>
		<key>s2t19</key>
		<integer>241</integer>
	</dict>
	<key>s3</key>
	<dict>
		<key>s3t0</key>
		<integer>1</integer>
		<key>s3t1</key>
		<integer>11</integer>
		<key>s3t2</key>
		<integer>31</integer>
		<key>s3t3</key>
		<integer>41</integer>
		<key>s3t4</key>
		<integer>51</integer>
		<key>s3t5</key>
		<integer>61</integer>
		<key>s3t6</key>
		<integer>71</integer>
		<key>s3t7</key>
		<integer>81</integer>
		<key>s3t8</key>
		<integer>91</integer>
		<key>s3t9</key>
		<integer>101</integer>
		<key>s3t10</key>
		<integer>111</integer>
		<key>s3t11</key>
		<integer>121</integer>
		<key>s3t12</key>
		<integer>131</integer>
		<key>s3t13</key>
		<integer>51</integer>
		<key>s3t14</key>
		<integer>151</integer>
		<key>s3t15</key>
		<integer>71</integer>
		<key>s3t16</key>
		<integer>171</integer>
		<key>s3t17</key>
		<integer>181</integer>
		<key>s3t18</key>
		<integer>191</integer>
		<key>s3t19</key>
		<integer>201</integer>
		<key>s3t20</key>
		<integer>211</integer>
	</dict>
</dict>
</plist>
