<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>script0</key>
	<dict>
		<key>bgm</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>voice</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>sound</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>effect</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>avatar</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>lover</string>
		</dict>
		<key>background</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>occPark</string>
		</dict>
		<key>text</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>EvtGirlDateRegionFLeave2</string>
		</dict>
	</dict>
	<key>script1</key>
	<dict>
		<key>bgm</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>voice</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>sound</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>effect</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>avatar</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>background</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>text</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>EvtGirlDateRegionFLeave2a</string>
		</dict>
	</dict>
	<key>script2</key>
	<dict>
		<key>bgm</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>voice</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>sound</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>effect</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>avatar</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>background</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>text</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>EvtGirlDateRegionFLeave2b</string>
		</dict>
	</dict>
	<key>script3</key>
	<dict>
		<key>bgm</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>voice</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>sound</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>effect</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>avatar</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>background</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>text</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>EvtGirlDateRegionFLeave2c</string>
		</dict>
	</dict>
	<key>script4</key>
	<dict>
		<key>bgm</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>voice</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>sound</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>effect</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>avatar</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>background</key>
		<dict>
			<key>action</key>
			<integer>0</integer>
			<key>object</key>
			<string></string>
		</dict>
		<key>text</key>
		<dict>
			<key>action</key>
			<integer>1</integer>
			<key>object</key>
			<string>EvtGirlDateRegionFLeave2d</string>
		</dict>
	</dict>
</dict>
</plist>
