<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>otherLv0Msg0</string>
	<string>otherLv0Msg1</string>
	<string>otherLv0Msg2</string>
	<string>otherLv0Msg3</string>
	<string>otherLv0Msg4</string>
</array>
</plist>
